.imagen-container {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  background-color: #f0f0f0;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-producto {
  width: auto;      
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.product-list{
  background-color: rgb(34, 108, 158);
}

.qtyButton {
  background-color: #e0e0e0;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.qtyButton:hover {
  background-color: #ccc;
} 

@media (min-width: 1400px) {
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}